/* header */
header nav{
  background-color:white;
  width: 100%;
  height: 70px;
}
.font-logo  {
  display:flex;
  justify-content: flex-end;   
  list-style-type: none;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.font-logo .logo{
  font-size:20px;
  padding:25px;
  width: 300px;
  display:flex;
  justify-content: flex-end; 
  justify-content:space-around;
   
}
.button1{
  color: white;
  margin: -62px auto ;
  margin-left: 10px;
}
/* end header */
/* main */
.main-image img{
  width: 100%;
  height:400px;
  /* background-image:url(/image/45.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text-p{
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

/* end main  */
/* tablght */
.div {
    width: 50px;
    height: 50px;
    background: green;
    transition: width 2s;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
  
  }
  
.div .main-div p{
    display: none;
  }
.div .main-div i{
  position: absolute;
  top: 60%;
  left: 50%;

}
.div:hover{
    width: 100px; 

  }
  .main-div i:hover{
    display: flex;
    justify-content: flex-end;
  }
.image{
    margin: 16px 38px;
    width: 80%;
    height: 150px;

  }
  .button{
       margin-top: -193px;
    margin-left: 183px;

  }

 .star{
   color: rgba(238, 238, 10, 0.945);
   margin: -32px -3px;
   display: flex;
   justify-content: flex-start;
   top: 50px;
 }
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    margin-top: 100px;
  }
  .card-body p{
    margin-top: 70px;
  }
  .g1{
    display:none;
  
    
}
.h1:hover .g1{
 
   display: inline;
  
}
.h1{
   width: 36px; 
}
.h1:hover{
 width:75px;
}
  .transform{
    display: flex;
    justify-content:space-around;
  }
  .ghimat1{
    width: 50px;
    height: 30px;
    background-color: red;
    border-radius: 50px;
  }
  .ghimat1 p{
    margin: 9px;
    text-align: center;
    color: white;
    font-size:30px large;
  }
  .p {
    direction: rtl;
    border-bottom: 1px solid red;
    
  } 
  .div-2{
   
    display: flex;
    flex-direction: row-reverse;
    margin: -26px ;
    font-size: 20px;
    color: rgb(82, 73, 73);
    
  }
  .div-2 p{
    margin-top: 0;
  }
 
  /* end tablight */

  /*footer  */
  .footer{
    color: white;
    direction: rtl;
    width:100%;
    height: 250px;
    background-color: rgba(41, 48, 41, 0.685);
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .footer .dar{
    width:800px;
    height: 100px;
    margin-right: 20px;
   
  }
  .footer-icon{
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-icon p{
    text-align: center;
    font-size: 20px ;
  }
  .footer-icon-2{
   width:400px;
   height: 30px;
  font-size:30px;
  display: flex;
  justify-content: space-between;
 }
 .footer-icon-2  :hover{
   cursor: pointer;
 }

  /*  end footer*/

 
  